#section-container{
    margin-left: 50px;
    float: left;
}
#section-container td,th,li{
    font-size: x-large;
}
#section-photo{
    margin-left: 1200px;
}
#section-container-table {
    border-collapse: collapse;
    border: 2px solid;
    margin-top: 50px;
}
#section-container-table td{
    padding: 10px;
    border-collapse: collapse;
}
th{
    background-color: #015AD8;
    color: white; 
    padding-right: 40px;
}
